@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100.. 1000&display=swap');

:root {
    /* Cores Principais */
    --brand-green: #00856F;
    --brand-green-light: #DCE9E2;
    --brand-green-light-02:#F7F9F9;
    --brand-beige: #FFFAF1;
    --brand-green-hover: #00453A;

    --gray-headline: #061800;
    --gray-paragraph: #384633;
    --white: #fff;
}

body {
    font-family: "DM Sans", sans-serif;
    margin: 0;
    background-color: var(--white);
}

a {
    text-decoration: none;
    color: var(--brand-green);
}

p {
    margin: 0;
}

header {
    height: 72px;
    display: flex;
    align-items: center;
    justify-content: space-around;

    background-color: var(--brand-green-light);
}

header div {
    width: 33%;
}

.header-container {
    display: flex;
    justify-content: center;
}

.header-inicio {
    color: var(--brand-green);
    font-weight: bold;
}

.header-item-center {
    margin: 0 32px 0 32px;
}

.header-item-center2 {
    margin-right: 32px;
}

.header-item-center, .header-item-center2, .header-depoimentos {
    opacity: 70%;
}

button {
    width: 148px;
    height: 38px;
    
    border-radius: 40px;
    border: solid  1px var(--brand-green) ;
    background-color: var(--brand-green-light);
    color: var(--brand-green);

    cursor: pointer;
}

button a {
    color: var(--brand-green);
    font-weight: bold;
}

section {
    display: flex;
    align-items: center;
    padding: 0 11%;
    height: 606px;

    background-color: var(--brand-green-light);
    
}

section div {
    width: 50%;
    height: 500px;
}

.content-image-banner {
    display: flex;
    justify-content: center;
}

.content-image-banner img {
    position: relative;
    top: -50px;
}

.welcome {
    font-weight: bold;
    color: var(--brand-green);
    margin: 0;
}

h1 {
    font-weight: bold;
    font-size: 52px;    
    color: var(--gray-headline);

    margin: 16px 0 24px 0;
}

.subtitle {
    color: var(--gray-paragraph);
    font-size: 18px;
    margin-bottom: 32px;
}

#btn-green {
    width: 200px;
    height: 50px;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: var(--brand-green);
    color: var(--white);
    font-weight: bold;

    cursor: pointer;
}

#btn-green img {
    margin-right: 10px;
}

.container-box {
    display: flex;
    justify-content: center;
}

.box {
    width: 1120px;
    height: 210px;
    border-radius: 6px;

    background-color: var(--brand-beige);
    position: relative;
    top: -100px;

    display: flex;
    align-items: center;
    justify-content: space-around;
}

.box div {
    text-align: center;
}

.box-title {
    font-size: 48px;
    font-weight: bold;
    color: var(--gray-headline);
}

.box-subtitle {
    font-size: 16px;
    color: var(--brand-green);
}

.title-servicos {
    text-align: center;
}

.title-servicos p {
    font-size: 14px;
    font-weight: bold;
    color: var(--brand-green);
}

.title-servicos h2 {
    font-size: 40px;
    font-weight: bold;
    color: var(--gray-headline);

    margin: 16px 0 0 0;
}

.container-box-vantagens {
    display: flex;
    justify-content: center;
    align-items: center;
}

.box-vantagens {
    margin: 52px 15px 120px 15px;
    border: 1px solid var(--brand-green-light);
    border-radius: 6px;
    width: 400px;
    height: 200px;
    padding: 24px;
}

.box-vantagens h3 {
    font-weight: bold;
    font-size: 24px;
    color: var(--gray-headline);
    margin: 15px 0;
}

.box-vantagens p {
    font-size: 16px;
    color: var(--gray-paragraph);
    line-height: 150%;
}

.container-sobre {
    display: flex;
    align-items: center;
    justify-content: center;

    margin-bottom: 150px;
}

.title-sobre {
    width: 570px;
    margin-left: 50px;
}

.title-sobre p {
    font-size: 14px;
    font-weight: bold;
    color: var(--brand-green);
}

.title-sobre h2 {
    font-size: 40px;
    font-weight: bold;
    color: var(--gray-headline);

    margin: 10px 0 24px 0;
}

#text-sobre {
    font-weight: 100;
    font-size: 16px;
    color: var(--gray-paragraph);
}

footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    
    background-color: var(--brand-green);
}


